[user]
    username = ttay
    name = ttay
    email = ttay@umich.edu
[alias]
    a = add
    co = checkout
    br = branch
    ci = commit
    st = status
    last = log -1 HEAD
    unstage = reset HEAD --
    lazy = "!f() { git commit -a -m \"$@\" && git push; }; f"
    lazyall = "!f() { git add. -A &&  git commit -m \"$@\" && git push; }; f"
    local = "!f() { git add . -A && git commit -a -m \"$@\"; }; f"
    ll = log --stat --abbrev-commit
    graph = log --graph --full-history --all --color --pretty=tformat:"%C(red)%h%C(reset)%x09%C(green)%d%C(reset)%C(bold)%s%C(reset)%C(yellow)(%an)%C(reset)"
    graph2 = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
