#Personal GitHub
Host github.com
  HostName github.com
    User thomastayac
	  IdentityFile ~/.ssh/id_rsa

#Gitlab
Host gitlab.eecs.umich.edu
	HostName gitlab.eecs.umich.edu
	User ttay
	IdentityFile ~/.ssh/id_rsa

Host campuscaen
	HostName oncampus-course.engin.umich.edu
	User ttay
	IdentityFile ~/.ssh/id_rsa

Host caen
	HostName login-course.engin.umich.edu
	User ttay
	IdentityFile ~/.ssh/id_rsa
